jid = bot@jabber.example.com/Desu_Machine
pass = pass
room = room@example.com/RoomNick
#This is two scripts for example
external_modules = !os !sovet
!os = /usr/bin/python3 scripts/best_os.py
!sovet  = /bin/zsh scripts/sovet.sh

