jid = bot@jabber.example.com/Desu_Machine
pass = pass
room = room@example.com/RoomNick
external_modules = !python_script !bash_script
!python_script = /usr/bin/python3 /script.py
!bash_script = /usr/bin/bash /script/sh
